# Directories
.cache
.clangd
compile_commands.json
artifacts
bin
coverage
dist
dumps
lib
listings
node_modules
prebuilds
out
typedoc*
zowex-package

# Files
.DS_Store
config.*.json
config.yaml
tsconfig.tsbuildinfo
zowe.config.json
zowe.schema.json
native/python/app/config/service-configuration.yml
native/python/app/keystore/*
!native/python/app/keystore/*.sh
native/python/bindings/test/fixtures/env.yml
test.py
test-results.xml
packages/sdk/logs/imperative.log
packages/sdk/logs/test.log
.jscpd-report/jscpd-report.json
*.tgz
